.nav {
    grid-area: n;
    background-color: darkgrey;
    padding: 20px;
    color:greenyellow ;
}
.activeLink :active{
    color: gold;
}
.item active{
    color: gold;
}
.activeLink a:active{
    color: gold;
}
.item {
    color: mediumpurple;
}
